*.iml
*.patch
.classpath
.DS_Store
.idea
.metadata
.project
.settings
RemoteSystemsTempFiles

**/.classpath
**/.project
**/.settings
**/bin
**/target
**/C:
**/.checkstyle
**/out
**/*.class

**/hs*.log
**/replay*.log

*.db

